<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>My first styled page</title>
        <link rel="stylesheet" type="text/css" href="/lesscss/mixin.less">
        <link rel="stylesheet" type="text/css" href="/sasscss/mixin.scss">
    </head>

    <body>
        <!-- Main content -->
        <h1>My first styled page</h1>

        <p>Welcome to my styled page!

        <p>It lacks images, but at least it has style.
            And it has links, even if they don't go
            anywhere&hellip;

        <p>There should be more here, but I don't know
            what yet.

        <div class="class-less1">This is first less styled div</div>
        <div class="class-less2">This is second less styled div</div>
        <div class="class-less3">This is third less styled div</div>


        <div class="class-sass1">This is first sass styled div</div>
        <div class="class-sass2">This is second sass styled div</div>
        <div class="class-sass3">This is third sass styled div</div>
    </body>
</html>
