<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>My first styled page</title>
    <link rel="stylesheet" type="text/css" href="/less-css">
    <link rel="stylesheet" type="text/css" href="/sass-css">
</head>

<body>

<!-- Main content -->
<h1>My first styled page</h1>

<p>Welcome to my styled page!

<p>It lacks images, but at least it has style.
    And it has links, even if they don't go
    anywhere&hellip;

<p>There should be more here, but I don't know
    what yet.

<div class="class1 class2 class3">This is a less styled div</div>

<div class="class1 class2 class3">This is a sass styled div</div>

</body>
</html>
