@args String lang, String title, ro.pippo.core.RuntimeMode mode
@args ro.pippo.rythm.PippoHelper pippo
<!DOCTYPE html>
<html lang="@lang">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@pippo.doi18n("pippo.welcome")</title>

        <link href=@pippo.webjarsAt("bootstrap/3.3.1/css/bootstrap.min.css") rel="stylesheet">
        <link href=@pippo.webjarsAt("font-awesome/4.2.0/css/font-awesome.min.css") rel="stylesheet">
        <link href=@pippo.publicAt("css/style.css") rel="stylesheet">
    </head>
    <body>
        <div class="container">
            @doLayout()

            <hr/>
            <p><i>Rythm Template Engine (@mode)</i></p>
        </div>

        <script src=@pippo.webjarsAt("jquery/1.11.1/jquery.min.js")></script>
        <script src=@pippo.webjarsAt("bootstrap/3.3.1/js/bootstrap.min.js")></script>
    </body>
</html>
